@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------Colors--------*/

.bg-color-name-title {
    background-color:#5e76c6;
}

.bg-color-contact{
    background-color:#F0F8FF;
}

.ui-menu-color-home {
    background-color:	#3CB371;
}

.ui-menu-color-contact {
    background-color:	#8FBC8F;
}


 /*-----Heading-----*/
header {
    background-color:#5e76c6;
    background-size:cover;
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    height:150px;
    background: url('../wireframes/earth.jpg');
    border-radius:50%;
    margin-right: 30px;
    margin-left: 80px;
    background-position: cover;
    top:40px;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite ;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

@keyframes spin {
    100%{background-position: 100%}
}


.name {
    font-family: "Exo", sans-serif;
    font-weight: 200;
    font-size: 60px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 10px;
    color:#fafafa;
    text-align: center;
    position: center;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    margin-right: 20px;
    margin-left: 15px;
    color:#FFFFFF;
    text-align:center;
}


.list-inline-item:not(:last-child) {
    margin: 0;
}
.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
    width: 100%;
}
#nav li {
    font-size: 14px;
    padding: 0;
}
.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}
.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-----Hover-----*/
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

.hvr-sweep-to-top:before{
    background:rgba(0, 0, 0, 0.2);
}

/*----- Menu Items----*/


#category-select {
    display: inline-block;
    width: 300px;
}

#location-field {
    display: inline-block;
    width: 200px;
}

#controls {
    display: inline-block;
    width: 300;
}
/*---MAP----*/

#map {
  height: 100%;
  position: relative;
}
/* Optional: Makes the sample page fill the window. */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display:none;
}

#map #infowindow-content {
  display: inline;
}


#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}


 /*----Footer-----*/
 
footer{
    background-color:	#6495ED;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links{
    padding-bottom: 15px;
    text-align: center;
 }
.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align:center;
    color:#fafafa;
    background-color:	#B8860B;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
     
}
.social-links li a i:hover{
     background-color: 	#9932CC;
}
#footer-details{
    padding: 20px;
}

.uppercase{
  text-transform: uppercase;
  text-align: center;
}

/*--------Contact Form------*/

.contact-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    color:	#800000;
}

.uppercase{
    text-transform: uppercase;
}

.center-form{
    padding-top: 10px;
    margin:0 auto;
    max-width: 70%;
}
.text-center{
    color:	#800000;
}

button[type="submit"]{ 
    margin-top: 15px;
    margin-bottom: 20px;
    color:#fafafa;
    background-color:#48D1CC;}

/*--------Media Queries------*/

@media(min-width: 992px){
    .center-form{
      padding-top: 30px;
      min-height: 240px;
      margin:0 auto;
      max-width: 50%;
    }
}

@media(max-width: 500px){
    .logo{
        height:240px;
        padding-top: 40px;
        margin-bottom: 60px;
        margin-left: 26px;
        margin-right: 26px;
    }
}



      